$color-text: grey;

@mixin generate-color($color: orange) {
  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($color, 9% * $i);
      color: lighten($color-text, 15% * $i);
    }
    .lighten-#{$i} {
      background-color: lighten($color, 9% * $i);
      color: darken($color-text, 15% * $i);
    }
  }

  .base-color {
    background-color: $color;
  }
}

.box {
  flex-grow: 1;
  margin: 2px;
  padding: 25px;
  text-align: center;
  font-weight: bold;
}

.base-color {
  flex-grow: 2;
  color: white;
  min-width: 70px;
}

.container-1 {
  display: flex;
  $color-base: indianred;
  @include generate-color($color-base);
}

.container-2 {
  display: flex;
  $color-base: RoyalBlue;
  @include generate-color($color-base);
}

.container-3 {
  display: flex;
  $color-base: MediumSeaGreen;
  @include generate-color($color-base);
}
